// colour variables 

$color-website-backgroud: #fff;
$color-text-light: #fff;
$color-grey: #f2f2f2;
$color-dark-grey: #ddd;
$color-text-dark: #000;
$color-blue: #3366cc;
$color-blue-monochromatic: #316be1;
$color-dark-blue: #6147e4;
$color-blue-complementary: #e4b047;
$box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);


body {
    background-color: $color-website-backgroud;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

// navigation bar

#navbar {
    overflow: hidden;
    background-color: $color-blue;
    display: flex;
    justify-content: center;
    /* Center the navigation buttons horizontally */
    align-items: center;
    /* Center the navigation buttons vertically */
    height: 70px;
    /* Increase the height of the navbar */
    box-shadow: $box-shadow;
}

#navbar a {
    float: left;
    display: block;
    color: $color-text-light;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    line-height: 70px;
    /* Match the line height with navbar height */
}

#navbar a:hover {
    background-color: $color-blue-monochromatic;
    color: $color-text-light;
}

#navbar a.active {
    background-color: $color-blue;
    color: $color-text-light;
}

.sticky {
    position: fixed;
    /* Change from 'position: sticky' to 'position: fixed' */
    top: 0;
    width: 100%;
    z-index: 1000;
    /* Add a high z-index to ensure it's on top */
    box-shadow: $box-shadow;
}

.sticky+.content {
    padding-top: 80px;
    /* Adjust padding-top to match the new navbar height */
}

.sticky {
    position: fixed;
    /* Change from 'position: sticky' to 'position: fixed' */
    top: 0;
    width: 100%;
    z-index: 1000;
    /* Add a high z-index to ensure it's on top */
    box-shadow: $box-shadow;
}

.sticky+.content {
    padding-top: 80px;
    /* Adjust padding-top to match the new navbar height */
}

/* navbar mobile view*/
@media (max-width: 767px) {
    #navbar {
        display: none;
    }

    .sticky {
        display: none;
    }
}

// info

#info {
    background-color: $color-grey;
    color: $color-text-dark;
    text-align: center;
    padding: 14px 16px;
    font-size: 90%;
    padding: 1.2em;
    margin: auto;
    letter-spacing: 2px;
    line-height: 1.5;
    word-spacing: 3px;
    /* Match the height of the navbar */
    display: flex;
    justify-content: center;
    align-items: center;

    .info {
        max-width: 80em;
        // width: 80%;
    }
}

/* on Mobile */
@media screen and (max-width: 800px) {
    #info {
        display: none;
    }
}

// sidebar

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 8%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: $color-text-light;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Hide the sidebar in desktop view */
@media (min-width: 768px) {
    .sidebar {
        display: none;
    }
}

.openbtn {
    font-size: 1.3em;
    /* Match the font size with the navigation bar links */
    cursor: pointer;
    background-color: $color-blue;
    /* Use the same blue color as the navigation bar */
    color: $color-text-light;
    /* Use the same white color as the navigation bar links */
    padding: 14px 16px;
    /* Match the padding with the navigation bar links */
    border: none;
    height: 80px;
    /* Match the height with the navigation bar */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /* Make the width the same as the viewport width */
    box-shadow: $box-shadow
}

.openbtn:hover {
    background-color: $color-blue-monochromatic;
    /* Use the same hover color as the navigation bar links */
    color: $color-text-light;
    /* Use the same white color as the navigation bar links */
}

#main {
    transition: margin-left .5s;
    background-color: $color-grey;
    color: $color-text-dark;
    box-shadow: $box-shadow;

    p {
        font-size: 1.1em;
        line-height: 1.5;
        text-align: center;
    }
}

/* Set the default styles for the desktop navbar to be hidden */
#desktop-navbar {
    display: none;
}

/* Use a media query to show the desktop navbar only when the screen width is greater than or equal to 768px */
@media (min-width: 768px) {

    /* Hide the mobile sidebar */
    #mobile-sidebar {
        display: none;
    }

    /* Show the desktop navbar */
    .desktop-view #desktop-navbar {
        display: block;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $color-website-backgroud;
        /* or any other light color you prefer */
        color: $color-text-dark;
        /* or any other dark color you prefer */
    }
}

.column-small {
    float: left;
    width: 20%;
    padding: 15px;
    border: 1.5px solid $color-dark-grey;
    padding-top: 10px;
    margin-bottom: 3.5rem;

    a {
        text-decoration: none;
        color: $color-blue;
    }

    h2 {
        text-align: center;
    }
}


.column-big {
    float: right;
    width: 70%;
    padding: 15px;

    a::before {
        content: "\2022";
        color: $color-blue-complementary;
        display: inline-block;
        width: 1em;
        // margin-left: 1em;
    }

    h2 {
        text-align: center;
    }
}

.column-big a {
    text-decoration: none; // remove underline
    color: $color-blue; // set text color to blue
}

@media screen and (max-width: 600px) {
    .column-big h3::before {
        margin-left: 0;
    }
}


.big-navigation-block-border {
    border-bottom: 1px solid $color-dark-grey;
    width: 100%;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .big-navigation-block-border {
        width: 100%;
    }
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    width: 50%;
    margin: 0 auto;
}

.row-contact {
    width: 60%;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {

    .row-contact,
    .row {
        width: 90%;
    }
}

//tablet view
@media screen and (max-width: 1024px) and (min-width: 601px) {

    .row-contact,
    .row {
        width: 90%;
    }
}

/* For laptop screens */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {

    .row,
    .row-contact {
        width: 70%;
    }
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column-small {
        width: 100%;
        margin-bottom: 2rem;
        padding: 0%;
    }

    .column-big {
        width: 100%;
    }
}

.bulletpoints p::before {
    content: "\2022";
    color: $color-blue-complementary;
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .bulletpoints p::before {
        margin-left: 0;
    }
}

// hyperlink navbar fix
#depresia,
#psihoterapia-aid,
#cautarea-terapeut,
#terapie-persoana-draga,
#tipul-de-terapie,
#sesiune,
#medicatie,
#cand-se-termina-terapia,
psihoterapia-aid,
#decizia-inceperi,
#benefici-terapie,
#incepe-terapia,
#comun-mers-terapeut,
#terapie-cuplu,
#consiliere-cuplu,
#consiliere-copii,
#benefici-terapie-grup,
#terapie-grup,
#aparita-depresiei,
#ce-pot-face,
#hipnoza,
#anxietate,
#mituri-depresie,
#din-cauza-stresului,
#nicipdata-depresiv,
#o-baie-fierbinte,
#gandire-pozitiva,
#vacanta,
#psihiatru,
#anti-depresive,
#altereaza-personalitatea,
#leacul-depresiei,
#normalitate,
#stresat-depresiv,
#tristete,
#viata-sexuala {
    // padding-top: 70px;
    scroll-margin-top: 100px;
}

// mobile adaptations

#footer {
    background-color: $color-blue;
    /* Use the same blue color as the navbar */
    /* Add some padding to the footer */
    text-align: center;
    /* Center the text in the footer */
    height: 70px;
    /* Set the height of the footer to match the navbar */
    clear: both;
    /* Clear the floats to make sure the footer is at the bottom of the page */
    padding-bottom: 2rem;
    padding-top: 0.5rem;

    p {
        color: $color-text-light;
    }
}

#footer-info {
    margin: 0 auto;
    /* Center the footer info */
    color: $color-text-light;
    /* Use the same light text color as the navbar links */
}

@media screen and (max-width: 600px) {
    .column-small {
        width: 100%;
        margin-bottom: 2rem;

        h2 {
            text-align: center;
        }
    }

    .column-big {
        width: 100%;
        padding: 0;
        margin: 0;

        h2 {
            text-align: center;
        }
    }
}

//scroll top btn

#myBtn {
    z-index: 99;
    position: fixed;
    display: none;
    right: 2rem;
    bottom: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 18px;
    border: none;
    outline: none;
    background: $color-blue url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M12 19V6M5 12l7-7 7 7'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.5rem 0 gray;
    // opacity: 0.7;
}

#myBtn:hover {
    background-color: $color-blue-monochromatic
}

.column-middle {
    text-align: left;
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 2rem;


    h2 {
        text-align: center;
    }
}

.column-contact {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* add this to your style.css file */

//contact column
.column-4 a {
    text-decoration: none; // remove underline
    color: $color-text-dark; // set text color to blue
}

/* Create three equal columns that floats next to each other */
.column-4 {
    float: left;
    width: 33.33%;
    text-align: center;
    line-height: 0.6;
}

/* Clear floats after the columns */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column-4 {
        width: 100%;
    }
}

//column titles
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    /* adjust the height to match the height of the lines */
}

.title:before,
.title:after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: #000;
    margin: 0 10px;
    opacity: 0.1;
    /* set the opacity to 0.5 */
}

@media screen and (max-width: 600px) {
    .title {
        height: 80px;
    }
}

// hero image

.hero-image {
    background-image: url("/images/Psiholog-psihoterapeut-Bucuresti-Cristina-Anghel.jpg");
    background-color: #cccccc;
    height: 900px;
    max-height: 697px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 38%;
    left: 56%;
    transform: translate(-19%, -50%);
    color: $color-text-dark;
}

.hero-title {
    font-size: 1.5rem;
}

.hero-text button {
    border: none;
    border-radius: 30px;
    outline: 0;
    display: inline-block;
    padding: 10px 55px;
    color: $color-text-dark;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

/* Mobile view styles */
@media only screen and (max-width: 768px) {

    /* Adjust hero image height */
    .hero-image {
        height: 300px;
        background-size: cover;
        background-position: center;
    }

    /* Adjust hero text elements */
    .hero-text {
        padding: 20px 10px;
        /* Reduce right padding to 10px */
        margin-left: -20px;
        /* Add negative left margin to extend text to the left */
        text-align: center;
        font-size: 14px;
        line-height: 1.1;
        top: 48%;
        left: 55%;
        transform: translate(-13%, -50%);
    }

    .hero-title {
        line-height: 1.1;
        font-size: 16px;
    }


    .hero-text button {
        padding: 10px 20px;
        font-size: 12px;
    }
}

.hero-image {
    animation: fadeIn 2s;
    /* duration: 2 seconds */
    animation-fill-mode: forwards;
    /* keep the final state */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hero-title,
.hero-text p {
    animation: fadeInUp 1.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-text button {
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.hero-text button:hover {
    animation: pulse 0.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    }
}