// colour variables 

$color-website-backgroud: #fff;
$color-text-light: #fff;
$color-grey: #f2f2f2;
$color-text-dark: #000;
$color-blue: #3366cc;
$color-blue-monochromatic: #316be1;
$color-dark-blue: #6147e4;
$color-blue-complementary: #e4b047;

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

// navigation bar

#navbar {
    overflow: hidden;
    background-color: $color-blue;
    display: flex;
    justify-content: center;
    /* Center the navigation buttons horizontally */
    align-items: center;
    /* Center the navigation buttons vertically */
    height: 80px;
    /* Increase the height of the navbar */
}

#navbar a {
    display: block;
    color: $color-text-light;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    line-height: 80px;
    /* Match the line height with navbar height */
}

#navbar a:hover {
    background-color: $color-blue-monochromatic;
    color: $color-text-light;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 80px;
    /* Adjust padding-top to match the new navbar height */
}

// info

#info {
    background-color: $color-grey;
    color: $color-text-dark;
    text-align: center;
    padding: 14px 16px;
    // font-size: 12px;
    font-size: 80%;
    /* Match the height of the navbar */
    display: flex;
    justify-content: center;
    align-items: center;

    .info {
        width: 80%;
    }
}