// colour variables 

$color-website-backgroud: #fff;
$color-text-light: #fff;
$color-grey: #f2f2f2;
$color-text-dark: #000;
$color-blue: #3366cc;
$color-blue-monochromatic: #316be1;
$color-dark-blue: #6147e4;
$color-blue-complementary: #e4b047;


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

// navigation bar

#navbar {
    overflow: hidden;
    background-color: $color-blue;
    display: flex;
    justify-content: center;
    /* Center the navigation buttons horizontally */
    align-items: center;
    /* Center the navigation buttons vertically */
    height: 80px;
    /* Increase the height of the navbar */
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

#navbar a {
    display: block;
    color: $color-text-light;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    line-height: 80px;
    /* Match the line height with navbar height */
}

#navbar a:hover {
    background-color: $color-blue-monochromatic;
    color: $color-text-light;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 80px;
    /* Adjust padding-top to match the new navbar height */
}

// info

#info {
    background-color: $color-grey;
    color: $color-text-dark;
    text-align: center;
    padding: 14px 16px;
    font-size: 70%;
    padding: 1.2em;
    margin: auto;
    letter-spacing: 2px;
    line-height: 1.5;
    word-spacing: 3px;
    /* Match the height of the navbar */
    display: flex;
    justify-content: center;
    align-items: center;

    .info {
        max-width: 80em;
        // width: 80%;
    }
}

/* on Mobile */
@media screen and (max-width: 800px) {
    #info {
        padding: 14px 16px;
        font-size: 100%;
        padding: 1.2em;
        margin: auto;
        letter-spacing: normal;
        line-height: normal;
        word-spacing: 0.25em;

        .info {
            max-width: 80em;
        }
    }
}

// sidebar

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 17px;
    /* Match the font size with the navigation bar links */
    cursor: pointer;
    background-color: $color-blue;
    /* Use the same blue color as the navigation bar */
    color: $color-text-light;
    /* Use the same white color as the navigation bar links */
    padding: 14px 16px;
    /* Match the padding with the navigation bar links */
    border: none;
    height: 80px;
    /* Match the height with the navigation bar */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /* Make the width the same as the viewport width */
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}


.openbtn:hover {
    background-color: $color-blue-monochromatic;
    /* Use the same hover color as the navigation bar links */
    color: $color-text-light;
    /* Use the same white color as the navigation bar links */
}

#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}



@media (max-width: 600px) {
    #mobile-sidebar {
        display: block;
    }
}

@media (min-width: 601px) {
    #mobile-sidebar {
        display: none;
    }
}

/* Set the default styles for the desktop navbar to be hidden */
#desktop-navbar {
    display: none;
}

/* Use a media query to show the desktop navbar only when the screen width is greater than or equal to 768px */
@media (min-width: 768px) {

    /* Hide the mobile sidebar */
    #mobile-sidebar {
        display: none;
    }

    /* Show the desktop navbar */
    .desktop-view #desktop-navbar {
        display: block;
    }
}